.avatar-display img {
    max-width: 325px;
    width: 150%;
    height: auto;
    margin: 0 auto;
}

.profile {
    padding-top: 15px;
}

.vsx-message {
    margin: 10px 0 0 0;
}

@media (min-width: 768px) {
	.container2 {
		width: 95%;
	}
}
@media (min-width: 992px) {
	.container2 {
		width: 95%;
	}
}
@media (min-width: 1200px) {
	.container2 {
		width: 95%;
	}
}
@media (min-width: 1600px) {
	.container2 {
		width: 75%;
	}
}

.container2 table {
	word-wrap: break-word;
}